<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter US Airline Sentiment</title>
	<link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v5.js"></script>

  </head>
  <body>

    <h1>
      Twitter US Airline Sentiment (using D3.js)
    </h1>
        <div id="page-wrap">
        <div class="bar-chart">
            <p>This is a visualisation of the sentiment towards each airline, whether it be positive, negative or neutral.</p>

            <div id="key">
                <div class="positive key-wrapper">
                    <div class="pos key-box"></div>
                    <p>Positive</p>
                </div>
                <div class="negative key-wrapper">
                    <div class="neg key-box"></div>
                    <p>Negative</p>
                </div>
                <div class="neutral key-wrapper">
                    <div class="neut key-box"></div>
                    <p>Neutral</p>
                </div>
            </div>
            <div id="chart"></div>
        </div>

        <div class="negative-reviews">
            <h3>Reasons for negative reviews:</h3>
        </div>

    <script src="/static/js/creative.js"></script>

    </div>

  </body>
</html>

